<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="sidebar" th:fragment="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a href="/users/login" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                로그인
            </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a href="/logout" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                로그아웃
            </a>
        </li>
        <li>
            <a href="/cafes" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                카페
            </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                마이페이지
            </a>
        </li>
        <li>
            <a href="/notice" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                공지사항
            </a>
        </li>
        <li>
            <a href="/question" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                </svg>
                Q&A
            </a>
        </li>
    </ul>
    <hr>
</div>
