<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Cagong Admin Page</title>
</head>
<body class="container-fluid">
<h2>카페 리스트</h2>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a th:href="@{/admin/cafe/save}" class="btn btn-primary me-md-2" type="button">추가</a>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cafe: ${cafes}" th:object="${cafe}">
            <td th:text="*{id}"></td>
            <td><a th:href="@{/admin/cafe/{id}(id=${cafe.id})}">[[${cafe.name}]]</a></td>
            <td th:text="*{address}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>